/* fonts */
@font-face {
    font-family: Montserrat;
    font-weight: 400;
    src: url("fonts/Montserrat-Regular.ttf");
}
@font-face {
    font-family: Montserrat;
    font-weight: 700;
    src: url("fonts/Montserrat-Bold.ttf");
}

/* styling */
body {
  background-color: #1d2951;
  margin: 0;
}

h1 {
  font-family: Montserrat, "Arial", sans-serif;
  font-weight: 400;
  color: #fff;
  margin: 1em 2.5em;
  text-align: center;
}